//fuentes
$primary_font: 'Raleway', sans-serif;
$secondary_font: 'Roboto', sans-serif;
$italics: 'Bona Nova', serif;

//mq
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

//colores

$primary: #5e311e;
$secondary: #c39c63;
$black: #000000;
$white: #fff;
$light_gray: #eceeef;
$light_coffee: #ebe7de;

//unidades

$separation:  5rem;



